


html .group {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  margin-bottom: -15px;
  margin-left: -15px;
}

html .group > *, html .group > *:first-child {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
}

html .group-xs {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  margin-bottom: -5px;
  margin-left: -5px;
}

html .group-xs > *, html .group-xs > *:first-child {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

html .group-sm {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  margin-bottom: -10px;
  margin-left: -10px;
}

html .group-sm > *, html .group-sm > *:first-child {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

html .group-md {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  margin-bottom: -15px;
  margin-left: -15px;
}

html .group-md > *, html .group-md > *:first-child {
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
}

html .group-lg {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  margin-bottom: -20px;
  margin-left: -20px;
}

html .group-lg > *, html .group-lg > *:first-child {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

html .group-xl {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  margin-bottom: -30px;
  margin-left: -30px;
}

html .group-xl > *, html .group-xl > *:first-child {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

html .group-top > *, html .group-top > *:first-child {
  vertical-align: top;
}

html .group-middle > *, html .group-middle > *:first-child {
  vertical-align: middle;
}

html .group-bottom > *, html .group-bottom > *:first-child {
  vertical-align: bottom;
}

html .group-inline > * {
  display: inline;
}

html .group-inline > *:not(:last-child) {
  margin-right: .25em;
}

html .group-xl-responsive {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
  margin-bottom: -18px;
  margin-left: -18px;
}

html .group-xl-responsive > *, html .group-xl-responsive > *:first-child {
  display: inline-block;
  margin-top: 18px;
  margin-left: 18px;
}

@media (min-width: 768px) {
  html .group-xl-responsive {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    margin-bottom: -30px;
    margin-left: -30px;
  }
  html .group-xl-responsive > *, html .group-xl-responsive > *:first-child {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
  }
}

.group-flex-center {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
