
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-text-size-adjust: none;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}