
@media (min-width: 480px) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-justify {
    text-align: justify;
  }
  .text-xs-nowrap {
    white-space: nowrap;
  }
  .text-xs-normal {
    white-space: normal;
  }
}

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-justify {
    text-align: justify;
  }
  .text-sm-nowrap {
    white-space: nowrap;
  }
  .text-sm-normal {
    white-space: normal;
  }
}

@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-justify {
    text-align: justify;
  }
  .text-md-nowrap {
    white-space: nowrap;
  }
  .text-md-normal {
    white-space: normal;
  }
}

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-justify {
    text-align: justify;
  }
  .text-lg-nowrap {
    white-space: nowrap;
  }
  .text-lg-normal {
    white-space: normal;
  }
}

@media (min-width: 1800px) {
  .text-xl-left {
    text-align: left;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-right {
    text-align: right;
  }
  .text-xl-justify {
    text-align: justify;
  }
  .text-xl-nowrap {
    white-space: nowrap;
  }
  .text-xl-normal {
    white-space: normal;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-middle {
  vertical-align: middle;
}