.page{
    &-head{
        position: fixed;
        left: 0;
        right: 0;
        background-color: transparent;
    }
}

.rd-navbar{
    background-color: rgba(255, 255, 255, 0.9);
}

.rd-navbar-submenu-toggle{
    display: none!important;
}

.mo-navbar-lang{
    position: relative;
    // width: 60px;
    z-index: 1500;
    margin-left: 10px;
    // background-color: #000; 
    a{
        // background: 0 0;
        color: #196dd7;
        font-size: 13px;
        border: none;
        display: inline-block;
        line-height: 100%; 
        padding: 0;
        outline: 0;
        outline-offset: 0;
        cursor: pointer;
        -webkit-appearance: none;
    }
}